html,
body {
  height: 100%;
}

body {
  background-color: grey;
}

.main-content {
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* makes the text appear newspaper column style */
.main-content p {
  text-align: justify;
  text-justify: inter-word;
  background-color: white;
}

.quote-box {
  background-color: #e9ecef;

  width: 60%;
  font-size: 40px;
  text-align: center;
  font-family: "Great Vibes", cursive;
}

.fill {
  /* min-height: 100%;
    height: 100%; */
  background-color: white;
}

footer {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
